@import './base.css';
*{
  padding: 0;
  margin: 0;
}

html,body,#app{
  height: 100vh
}

.el-aside{
  background-color: rgb(93, 91, 91);
}
.el-header{
  background-color: rgb(147, 143, 143);
}

::-webkit-scrollbar{width:0;}